;; The deps.edn file describes the information needed to build a classpath.
;;
;; When using the `clojure` or `clj` script, there are several deps.edn files
;; that are combined:
;; - install-level
;; - user level (this file)
;; - project level (current directory when invoked)
;;
;; For all attributes other than :paths, these config files are merged left to right.
;; Only the last :paths is kept and others are dropped.
{
 ;; Paths
 ;;   Directories in the current project to include in the classpath

 ;; :paths ["src"]

 ;; External dependencies

 ;; :deps {
 ;;   org.clojure/clojure {:mvn/version "1.10.3"}
 ;; }

 ;; Aliases
 ;;   resolve-deps aliases (-R) affect dependency resolution, options:
 ;;     :extra-deps - specifies extra deps to add to :deps
 ;;     :override-deps - specifies a coordinate to use instead of that in :deps
 ;;     :default-deps - specifies a coordinate to use for a lib if one isn't found
 ;;   make-classpath aliases (-C) affect the classpath generation, options:
 ;;     :extra-paths - vector of additional paths to add to the classpath
 ;;     :classpath-overrides - map of lib to path that overrides the result of resolving deps

 ;; :aliases {
 ;;   :deps {:extra-deps {org.clojure/tools.deps.alpha {:mvn/version "0.5.351"}}}
 ;;   :test {:extra-paths ["test"]}
 ;; }

 :aliases {;; clj -M:check
           :check
           {:extra-deps
            {com.github.athos/clj-check
             {:git/tag "0.1.0"
              :git/sha "0ca84df"}}
              :main-opts ["-m" "clj-check.check"]}

           ;; clj -A:rebel
           :rebel {:extra-deps {com.bhauman/rebel-readline {:mvn/version "RELEASE"}}
                   :main-opts ["-m" "rebel-readline.main"]}

           ;; clj -A:depify
           ;; clj -A:depify | clj -A:zprint > deps.edn.tmp ; mv deps.edn.tmp deps.edn '
           :depify {:extra-deps {org.clojure/clojure {:mvn/version "1.10.3"}
                                 depify/depify {:git/url "https://github.com/hagmonk/depify"
                                                :sha "04329744872890711dbba8939a16e9987dd33bb3"}}
                    :main-opts ["-m" "depify.project"]}

           ;; clj -A:zprint
           :zprint {:extra-deps {org.clojure/clojure {:mvn/version "1.10.3"}
                                 zprint/zprint {:mvn/version "0.5.3"}}
                    :main-opts ["-m" "zprint.main"]}

           ;; clj -X:new create :name net.b12n/myapp && cd myapp && clj -M -m net.b12n.myapp
           :new {:extra-deps {com.github.seancorfield/clj-new {:mvn/version "1.1.228"}}
                 :ns-default clj-new
                 :exec-args {:template "app"}}

           ;; clj -X:depstar jar :jar MyLib.jar
           ;; clj -X:depstar uberjar :jar MyProject.jar
           :depstar
           {:extra-deps
            {com.github.seancorfield/depstar {:mvn/version "1.1.136"}}
            :ns-default hf.depstar
            ;;:exec-args {}
            }

           ;; https://github.com/liquidz/antq
           ;; clojure -A:outdated
           :outdated {:extra-deps {antq/antq {:mvn/version "RELEASE"}}
                      :main-opts ["-m" "antq.core"]}
           }

 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        zprint/zprint {:mvn/version "0.5.3"}}

 ;; Provider attributes
 ;; :mvn/repos {
 ;;   "central" {:url "https://repo1.maven.org/maven2/"}
 ;;   "clojars" {:url "https://clojars.org/repo"}
 ;; }
 }
