;; All available settings and its default values
;; Check the settings documentation section for more details of each one.
;; See: https://clojure-lsp.io/settings/#global
{:cljfmt
 {#_:indents #_{#re ".*" ns [[:inner 0] [:inner 1]]}
  :indentation?                           true
  :insert-missing-whitespace?             true
   :remove-consecutive-blank-lines?       true
   :remove-multiple-non-indenting-spaces? true ;; NOTE: default is false
   :remove-surrounding-whitespace?        true
   :remove-trailing-whitespace?           true
   :split-keypairs-over-multiple-lines?   false
   :sort-ns-references?                   false
   #_:indents   #_default-indents
   :alias-map {}}
 :use-metadata-for-privacy? true
 :auto-add-ns-to-new-files? true}
